<html>
<head>
	<meta charset="utf-8">
	<title>ng-crib</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body ng-app="ngCribs" ng-controller="cribsController">

<!-- Nav Bar -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">ng-cribs</a>
	    </div>
	  </div>
	</nav>

	<!-- Real Estate Listings -->
	<div class="container">
		<div class="col-sm-4" ng-repeat="crib in cribs">
			<div class="thumbnail">
				<img ng-src="images/{{crib.image}}.jpg" alt="">
				<div class="caption">
					<div ng-hide="showDetails === true">
						<h3><i class="glyphicon glyphicon-tag"></i>{{crib.price | currency}}</h3>
						<h4><i class="glyphicon glyphicon-home"></i>{{crib.address}}
							<span class="label label-primary label-sm">{{crib.type}}</span>
						</h4>

					</div>
					
					<button class="btn btn-xs btn-success"
									ng-hide="showDetails === true"
									ng-click="showDetails = !showDetails">
									Details
					</button>

					<button class="btn btn-xs btn-danger"
									ng-show="showDetails === true"
									ng-click="showDetails = !showDetails">
									Close
					</button>			

					<div class="details" ng-show="showDetails === true">
						<h4>
							<span class="label label-primary">Beds: {{crib.details.bedrooms}}</span>
							<span class="label label-primary">Baths: {{crib.details.bathrooms}}</span>
							<span class="label label-primary">SqFt: {{crib.details.area}}</span>
						</h4>
					</div>		
					<p>{{crib.description}}</p>
					
				</div>
			</div>
		</div>
	</div>
</body>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
<script src = "app.js"></script>
<script src = "scripts/cribsController.js"></script>
<script src = "scripts/cribsFactory.js"></script>
</html>